<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Heart Health Prediction - Login</title>
</head>
<body>
    <section>
        <div class="hero"></div>
        <div class="container">
            <h1>Heart Health Prediction <br> System</h1>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <h3>Account Login</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash {{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="input-box">
                  <input type="text" name="username" id="username" required>
                  <label for="username">Username</label>
                  <i class="bx bx-user"></i>
                </div>
                <div class="input-box pass-box">
                  <input type="password" name="password" id="password" required>
                  <label for="password">Password</label>
                  <i class='bx bxs-lock-alt'></i>
                  <i class='bx bxs-lock-open-alt'></i>
                </div>
                <button type="submit" class="signup">Login</button>
                <p class="no-acc">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
                <p><a href="{{ url_for('index') }}" class="back-home">Back Home</a></p>
            </form>
        </div>
    </section>

    <script>
      const passwordInput = document.getElementById('password')
      const seePasswordBtn = document.querySelector('.bxs-lock-alt')
      const unSeePasswordBtn = document.querySelector('.bxs-lock-open-alt')

      seePasswordBtn.addEventListener('click', () => {
          passwordInput.type = 'text'
          unSeePasswordBtn.classList.add('see')
          seePasswordBtn.classList.add('un-see')
      })

      unSeePasswordBtn.addEventListener('click', () => {
          passwordInput.type = 'password'
          seePasswordBtn.classList.remove('un-see')
          unSeePasswordBtn.classList.remove('see')
      })
    </script>
</body>
</html>
